<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <h2>Hosts</h2>
            </div>
            <div class="col-offset-1 mx-5">
                <button class="btn btn-dark" data-toggle="modal" data-target="#filterHosts">Filter</button>
                <div class="modal fade" id="filterHosts" tabindex="-1" role="dialog" aria-labelledby="filterHostsTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterHostsTitle">Filter Hosts</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="filterHostsForm" action="/api/hosts" method="POST">
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="ipAddress">IP Address</label>
                                            <input type="text" name="ipAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Create new</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                <hr class="top-hr">
            </div>
        </div>
    </div>
    <div class="loadingGif">
        <img src="/static/images/ajax-loader.gif"/>
    </div>
    <div id="hostsTable" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><span class="text-nowrap"><input type="checkbox"/></span></th>
                    <th scope="col"><span class="text-nowrap">FQDN <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Address <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">OS <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Last Scan <span class="fas fa-sort"></span></span></th>
                </tr>
            </thead>
            <tbody id="hostsTableBody">
            </tbody>
        </table>
    </div>
<%- include('partials/footer.ejs') -%>