<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <h2>Manage Scans</h2>
            </div>
            <div class="col-offset-1 mx-5">
                <button class="btn btn-dark" data-toggle="modal" data-target="#filterScans">Filter</button>
                <div class="modal fade" id="filterScans" tabindex="-1" role="dialog" aria-labelledby="filterScansTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterScansTitle">Filter Scans</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="filterScansForm" action="/api/scans" method="GET">
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="name">Scan Name</label>
                                            <input type="text" name="scanName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="ipAddress">Scanner Name</label>
                                            <input type="text" name="scannerName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="perPage">Results per Page</label>
                                            <input type="number" min="1" max="100" name="perPage" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                <hr class="top-hr">
            </div>
        </div>
    </div>
    <div class="loadingGif">
        <img src="/static/images/ajax-loader.gif"/>
    </div>
    <div id="scansTable" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><span class="text-nowrap">Scan Name <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Scanner <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Created <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Modified <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap"></span></th>
                    <th scope="col"><span class="text-nowrap"></span></th>
                </tr>
            </thead>
            <tbody id="scansTableBody">
            </tbody>
        </table>
    </div>
    <div class="container mt-2-md mt-4-xs mr-2">
        <nav>
            <ul class="pagination justify-content-end hidden">
            </ul>
        </nav>
    </div>
<%- include('partials/footer.ejs') -%>