<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <h2>Manage Scanners</h2>
            </div>
            <div class="col-offset-1 mr-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#addNewScanner">Add New</button>
                <div class="modal fade" id="addNewScanner" tabindex="-1" role="dialog" aria-labelledby="addNewScannerTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addNewScannerTitle">Add New Scanner</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="createNewScannerForm" action="/api/scanner" method="POST">
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="ipAddress">IP Address</label>
                                            <input type="text" name="ipAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Create new</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-offset-1 mr-5">
                <button class="btn btn-dark" data-toggle="modal" data-target="#filterScanners">Filter</button>
                <div class="modal fade" id="filterScanners" tabindex="-1" role="dialog" aria-labelledby="filterScannersTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="filterScannersTitle">Filter Scanners</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="filterScannersForm" action="/api/scanners" method="GET">
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="name">Scanner Name</label>
                                            <input type="text" name="scannerName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label for="ipAddress">IP Address</label>
                                            <input type="text" name="ipAddress" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="status">Status</label>
                                            <select name="status" class="form-control">
                                                <option disabled selected value>Choose an option</option>
                                                <option value="offline">Offline</option>
                                                <option value="ready">Ready</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="perPage">Results per Page</label>
                                            <input type="number" min="1" max="100" name="perPage" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                <hr class="top-hr">
            </div>
        </div>
    </div>
    <div class="loadingGif">
        <img src="/static/images/ajax-loader.gif"/>
    </div>
    <div id="scannerTable" class="table-responsive hidden">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><span class="text-nowrap">Scanner Name <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">IP Address <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Status <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Version <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Type <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap"></span></th>
                </tr>
            </thead>
            <tbody id="scannerTableBody">
            </tbody>
        </table>
    </div>
    <div class="container mt-2-md mt-4-xs mr-2">
        <nav>
            <ul class="pagination justify-content-end hidden">
            </ul>
        </nav>
    </div>
<%- include('partials/footer.ejs') -%>