<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <h2>Vulnerabilities</h2>
            </div>
            <div class="col-offset-1 mx-5">
                <div class="col-offset-1 mx-5">
                    <button class="btn btn-dark" data-toggle="modal" data-target="#filterVulns">Filter</button>
                    <div class="modal fade" id="filterVulns" tabindex="-1" role="dialog" aria-labelledby="filterVulnsTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="filterVulnsTitle">Filter Vulns</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="filterVulnsForm" action="/api/vulnerabilities" method="GET">
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="pluginName">Plugin Name</label>
                                                <input type="text" name="pluginName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="pluginFamily">Plugin Family</label>
                                                <input type="text" name="pluginFamily" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-4">
                                                <label for="pluginId">Plugin ID</label>
                                                <input type="number" name="pluginId" class="form-control">
                                            </div>
                                            <div class="form-group col-4">
                                                <label for="name">Severity</label>
                                                <select name="severity" class="form-control">
                                                    <option disabled selected value>Choose an option</option>
                                                    <option value="">All</option>
                                                    <option value="4">Critical</option>
                                                    <option value="3">High</option>
                                                    <option value="2">Medium</option>
                                                    <option value="1">Low</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-4">
                                                <label for="perPage">Results per Page</label>
                                                <input type="number" min="1" max="100" name="perPage" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-12">
                <hr class="top-hr">
            </div>
        </div>
    </div>
    <div class="loadingGif">
        <img src="/static/images/ajax-loader.gif"/>
    </div>
    <div id="vulnsTable" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><span class="text-nowrap">Severity <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Name <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Family <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Plugin ID <span class="fas fa-sort"></span></span></th>
                    <th scope="col"><span class="text-nowrap">Count <span class="fas fa-sort-down"></span></span></th>
                </tr>
            </thead>
            <tbody id="vulnsTableBody">
            </tbody>
        </table>
    </div>
    <div class="container mt-2-md mt-4-xs mr-2">
        <nav>
            <ul class="pagination justify-content-end hidden">
            </ul>
        </nav>
    </div>
<%- include('partials/footer.ejs') -%>