html{
    height: 100vh;
}

body {
    background-color: #F5F5F5;
    height: 100vh;
    font-family: 'Ubuntu';
}

#login-card {
    border-top: 5px solid #FDC431;
}

.card-title h5 {
    padding-top: 10px;
}

.navbar {
    background-color: #647687;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}