html{
    height: 100vh;
}

body {
    background-color: #F5F5F5;
    height: 100vh;
    font-family: 'Ubuntu';
}

#login-card {
    border-top: 5px solid #FDC431;
}

.card-title h5 {
    padding-top: 10px;
}

.navbar {
    background-color: #647687;
    padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.vulnerability-count {
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0;
}

.vulnerability-count strong {
    display: block;
    margin: 1rem 0 0 0;
    font-weight: 900;
    font-size: 1.5em;
}

.vulnerability-count p {
    margin: 0.5rem 0 0 0;
    color: #000000;
    background-color: #ffffff;

}

.vuln-count-4 {
    background-color: #D43F3A;
}

.vuln-count-3 {
    background-color: #EE9336;
}

.vuln-count-2 {
    background-color: #FDC431;
}

.vuln-count-1 {
    background-color: #4CAE4C;
}

.top-hr {
    border-top: 1px solid #000000;
}

.dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
}

.hidden {
    display: none;
}

th > span.text-nowrap {
    cursor: pointer;
}